* {
    box-sizing: border-box;
}

body {
    font-family: "Futura", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set a minimum height of the viewport */
    background: linear-gradient(to bottom, #83a2b3, #8C7DBB, #dfba9a); /* You can adjust the colors and direction as needed */
}

.submit-button, .like-btn {
    width: 250px;
    height: 60px;
    background-color: #666666;
}


input {
    width: 250px;
    height: 60px;
    border: 5px solid rgb(255, 255, 255);

}

.page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh;
}

#search, #results {
    width: 100%;
    padding: 2rem;
}

#results {
    display: none;
}

.directions {
    color: #ffffff;
    font-size: 24px;

}

.left-rectangle, .right-rectangle {
    position: absolute;
    padding: 0.625rem;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.625rem;
    z-index: 1; /* Set the z-index to make sure it appears above the image */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow */
  }

.left-rectangle {
    top: 12.5rem;
    left: 25rem;
    width: 31.25rem;
    height: 5.625rem;
    border-left: 5.625rem solid rgb(255, 255, 255); /* Right border for the left rectangle */
    outline: 0.625rem solid rgb(255, 255, 255); /* Thick left stroke for the left rectangle */
    outline-offset: -0.125; /* Adjust the offset to align with the border */
 } 


.microphone-image {
    width: 20%;
    height: auto;
    display: block;
    opacity: 50%;
  }

.page-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add drop shadow to the text */
}

.no-results {
    display: none;
}

h1 {color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add drop shadow to the text */

}

nav {
    display: flex;
    justify-content: space-around;
}

#header-text {
    position: relative;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 0 15px; /* Adjust the margin as needed to create space between the links */
}

hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set the line to span the entire width */
    border: 1px solid #ffffff; /* Set the color of the line */
}

.page-header {
    padding: 4rem;
    position: relative;
    width: 100%; /* Set the width of the container */
  }

.right-rectangle {
    top: 15.625rem;
    left: 53rem;
    width: 21.875rem;
    height: 5.625rem;
    border: 0.625rem solid rgb(255, 255, 255);
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.user-options {
    margin: 6.25rem;
}


.card {
    width: 600px;
    height: 500px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 40%; /* Use 100% to ensure the image takes the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding: 40px; /* Adjust padding as needed */
    padding-bottom: 0px;
    box-sizing: border-box; /* Include padding in the total width */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.song-info {
    text-align: left; /* Align song info text to the left */
}

.info-and-button {
    display: flex;
    justify-content: space-between; /* Put song info and like button at each end */
    width: 100%; /* Make sure it takes the full width */
    padding-left: 60px;
    margin-top: 20px;
}

.like-btn {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.liked {
    color: #e74c3c;
}

audio {
    width: 100%;
    margin-top: 10px;
}

.results-buttons {
    width: 100%;
    text-align: center; /* Center the buttons horizontally */
    margin: 20px;
}

.regen-btn,
.restart-btn {
    width: 150px;
    height: 40px;
    background-color: #666666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px; /* Add margin between buttons if needed */
}