* {
    box-sizing: border-box;
}

body {
    font-family: "Futura", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set a minimum height of the viewport */
    background: linear-gradient(to bottom, #83a2b3, #8C7DBB, #dfba9a); /* You can adjust the colors and direction as needed */
}

button {
    width: 250px;
    height: 60px;
    background-color: #666666;
}

input {
    width: 250px;
    height: 60px;
    border: 5px solid rgb(255, 255, 255);

}

.directions {
    color: #ffffff;
    font-size: 24px;

}

.left-rectangle, .right-rectangle {
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    z-index: 1; /* Set the z-index to make sure it appears above the image */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow */
  }

.left-rectangle {
    top: 150px;
    left: -215px;
    width: 500px;
    height: 90px;
    border-left: 90px solid rgb(255, 255, 255); /* Right border for the left rectangle */
    outline: 10px solid rgb(255, 255, 255); /* Thick left stroke for the left rectangle */
    outline-offset: -2px; /* Adjust the offset to align with the border */
 }

.microphone-image {
    width: 120%;
    height: auto;
    display: block;
    opacity: 50%;
  }

.page-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add drop shadow to the text */
}

.page-header {
    position: relative;
    width: 350px; /* Set the width of the container */
    margin-top: 0px;
  }

.right-rectangle {
    top: 200px;
    left: 250px;
    width: 350px;
    height: 90px;
    border: 10px solid rgb(255, 255, 255);
}

.user-options {
    margin: 100px;
}


.card {
    width: 600px;
    height: 500px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.like-btn {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.liked {
    color: #e74c3c;
}

audio {
    width: 100%;
    margin-top: 10px;
}